.oblique-banner {
    width: 100%;
    min-height: 110px;
    padding-bottom: 21.354%;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 96%, 0 70%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 96%, 0 70%);
    /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%); */
}

.blue-transparent {
    width: 100%;
    min-height: 60px;
    padding-bottom: 11.7%;
    background-image: linear-gradient(87deg, #235789 0%, rgba(255, 255, 255, 0.02) 101%, rgba(255, 255, 255, 0) 101%);
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 55%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 55%);
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1050px){
    .oblique-banner{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
    
    .blue-transparent {
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    }
}