.lightbox {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 1040;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.lightbox.show {
    top: 0;
}

.lightbox-blank-1 {
    width: 920px;
    max-width: 95%;
    max-height: 90vh;
    overflow: auto;
    background-color: #ffffff;
    padding: 30px;
}

.lightbox-blank-2 {
    width: 655px;
    max-width: 95%;
    /* max-height: 98vh; */
    background-color: #ffffff;
}

.lightbox-blank-3 {
    width: 900px;
    max-width: 95%;
    max-height: 98vh;
    background-color: #ffffff;
}

.lightbox-blank-4 {
    width: 550px;
    height: 400px;
    max-width: 95%;
    max-height: 98vh;
    background-color: #ffffff;
}

.lightbox-blank-5 {
    width: 550px;
    height: 350px;
    max-width: 95%;
    max-height: 98vh;
    background-color: #ffffff;
}

.lightbox-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.lightbox-close>img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.lightbox-order {
    width: 100%;
    margin-top: 10px;
}

.lightbox-title {
    width: 100%;
}

.lightbox-title>span {
    display: inline-block;
    height: 25px;
    font-family: PingFangTC;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 25px;
    letter-spacing: normal;
    color: #000000;
}

.lightbox-title>span>span {
    color: #235789;
}

.lightbox-order-detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.lightbox-order-detail>div {
    width: 50%;
}

.lightbox-order-detail>div>span {
    display: block;
    height: 20px;
    font-family: PingFangTC;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: #989cab;
    margin-top: 10px;
}

.lightbox-order-detail>div>span>span {
    color: #333333;
}

.lightbox-car {
    width: 100%;
    background-color: #f7f7f7;
    margin-top: 20px;
    padding: 25px 40px 30px 40px;
}

.lightbox-paid {
    display: inline-block;
    height: 18px;
    font-size: 18px;
    color: #235789 !important;
    font-weight: bold;
}

.lightbox-cost {
    display: inline-block;
    height: 18px;
    font-size: 18px;
    color: #e60012 !important;
    font-weight: bold;
}

.lightbox-order-time {
    display: flex;
    flex-wrap: wrap;
}

.lightbox-order-time>div {
    display: flex;
    align-items: center;
}

.lightbox-order-time>div>img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.lightbox-order-time>div>span {
    font-family: PingFangTC;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #333333;
}

.lightbox-order-time>div>span:nth-child(2) {
    margin-right: 10px;
}

.lightbox-cancel-btn {
    position: relative;
}

.lightbox-cancel-btn>button.gopay-btn {
    position: absolute;
    left: -140px;
}

.lightbox-cancel-btn>button.cancel-btn, .lightbox-cancel-btn>button.gopay-btn {
    width: 155px;
    height: 25px;
    border-radius: 4px;
    border: solid 1px #c1292e;
    background-color: #e60012;
    font-family: PingFangTC;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline: none;
}

.lightbox-cancel-btn>button.gopay-btn:hover {
    top: -3px;
    left: -137px;
}

.lightbox-cancel-btn>button.cancel-btn:hover {
    position: relative;
    top: -3px;
    left: -3px;
}

.lightbox-cancel-btn>button:focus {
    outline: none;
}

.lightbox-alert-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 135px;
}

.lightbox-alert-title>span {
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
}

.lightbox-confirm-btn, .lightbox-member-btn, .lightbox-guest-btn, .lightbox-register-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lightbox-confirm-btn {
    margin-top: 150px;
    margin-bottom: 90px;
}

.lightbox-confirm-btn>button, .lightbox-member-btn>button, .lightbox-guest-btn>button, .lightbox-register-btn>button {
    width: 415px;
    max-width: 90%;
    height: 48px;
    border: none;
    border-radius: 4px;
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.lightbox-confirm-btn>button, .lightbox-guest-btn>button, .lightbox-register-btn>button {
    background-color: #235789;
}

.lightbox-member-btn>button {
    background-color: #e60012;
    margin-top: 100px;
    margin-bottom: 25px;
}

.lightbox-guest-btn>button {
    margin-bottom: 90px
}

.lightbox-common-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.lightbox-common-title>span {
    font-family: PingFangTC;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.lightbox-cs {
    display: flex;
    width: 415px;
    max-width: 90%;
    align-items: center;
    justify-content: space-around;
}

.lightbox-input {
    width: 415px;
    max-width: 90%;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #333333;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
}

.lightbox-verify {
    width: 415px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.lightbox-verify>div {
    width: 253;
    max-width: 60%;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #333333;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.lightbox-verify>input[type="button"] {
    width: 140px;
    max-width: 33.73%;
    height: 50px;
    border-radius: 4px;
    background-color: #e60012;
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: none;
}

.lightbox-input>input, .lightbox-verify>div>input {
    width: 100%;
    border: none;
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.lightbox-input>span, .lightbox-verify>span {
    color: red;
    position: absolute;
    bottom: -18px;
    font-size: 12px;
}

.phone-icon {
    width: 15px;
    height: 25px;
    margin: 0 25px;
}

.verify-icon {
    width: 25px;
    height: 25px;
    margin: 0 20px;
}

.card-icon {
    width: 25px;
    margin: 0 20px;
}

.mail-icon {
    width: 25px;
    height: 25px;
    margin: 0 20px;
}

.lock-icon {
    width: 25px;
    height: 25px;
    margin: 0 20px;
}

.lightbox-footer, .lightbox-fgps {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lightbox-footer>div, .lightbox-fgps>div {
    width: 415px;
    max-width: 90%;
}

.lightbox-footer>div>a, .lightbox-fgps>div>a {
    cursor: pointer;
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e60012;
}

.lightbox-footer {
    margin-top: 20px;
    /* margin-bottom: 35px; */
}

.lightbox-footer>div>a:hover, .lightbox-fgps>div>a:hover {
    color: #e60012;
}

.lightbox-applogin {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #333333;
    position: relative;
}

.lightbox-applogin>a>img {
    width: 60px;
    height: 60px;
    margin: 0 35px;
}

.online-text {
    position: absolute;
    background-color: #ffffff;
    display: inline-block;
    font-family: PingFangTC;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    padding: 0 15px;
    bottom: 0;
    transform: translateY(50%);
}

.lightbox-content {
    width: 100%;
    padding: 0 90px 50px 90px;
}

.lightbox-icon {
    height: 15px;
    margin-right: 15px;
}

.lightbox-text {
    font-family: PingFangTC;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.lightbox-reservation-btn {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    background-color: #e60012;
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border: none;
}

.lightbox-reservation-btn:hover {
    position: relative;
    top: -3px;
    left: -3px;
}

.lightbox-iframe {
    margin-top: 36px;
    width: 100%;
    height: 406px;
    border: 0;
}

.disable-btn {
    background-color: lightgray !important;
    border-color: lightgray !important;
}

.activity-description {
    display: flex;
    flex-direction: column;
    width: 655px;
    max-width: 95%;
    height: 470px;
    max-height: 90vh;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #fff;
    padding: 30px 40px 50px 40px;
    justify-content: center;
}

.activity-description>span {
    width: 100%;
    font-family: PingFangTC;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #235789;
    display: inline-block;
    text-align: center;
}

.activity-description>div:nth-child(2) {
    flex: 1;
    margin-top: 30px;
    margin-bottom: 20px;
    overflow: auto;
}

.activity-description>div:nth-child(2) img {
    max-width: 100%;
}

.activity-description>div:nth-child(2)>textarea {
    width: 100%;
    border: none;
    resize: none;
}

.activity-description>div:nth-child(3) {
    display: flex;
    justify-content: center;
}

.activity-description>div:nth-child(3)>button {
    width: 415px;
    max-width: 100%;
    height: 50px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    background-color: #235789;
    border: none
}

@media screen and (max-width:920px) {
    .lightbox-blank-1 {
        margin: 10px;
    }
}

@media screen and (max-width:700px) {
    .lightbox-order-detail>div {
        width: 100%;
    }
    .lightbox-order-time, .lightbox-cancel-btn {
        width: 100%;
    }
    .lightbox-cancel-btn {
        margin-top: 10px;
    }
    .lightbox-order-time>div {
        width: 100%;
        margin-bottom: 10px;
    }
    .lightbox-order-time>div:nth-child(3) {
        margin-bottom: 0px;
    }
    .lightbox-cancel-btn>button.gopay-btn {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .lightbox-cancel-btn>button.cancel-btn {
        display: block;
        margin: auto;
    }
    .lightbox-cancel-btn>button.gopay-btn:hover {
        top: -3px;
        left: -3px;
    }
}

@media screen and (max-width:675px) {
    .lightbox-blank-2, .lightbox-blank-4 {
        margin: 10px;
        height: max-content;
    }
}

@media screen and (max-width:600px) {
    .lightbox-content {
        padding: 0 20px 20px 20px;
    }
    .lightbox-reservation-btn {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
    .lightbox-iframe {
        height: 50vh;
    }
    .lightbox-blank-1 {
        padding: 15px;
    }
    .lightbox-order-detail>div>span {
        margin-top: 5px;
    }
    .lightbox-order-time>div {
        margin-bottom: 5px;
    }
    .lightbox-car {
        margin-top: 10px;
        padding: 10px 20px 10px 20px;
    }
    .activity-description {
        padding: 20px;
    }
    .activity-description>div:nth-child(2) {
        margin: 20px 0;
    }
}

@media screen and (max-width:320px) {
    .lightbox {
        align-items: unset;
    }
}